extends layout

block content
  h1 Twitter Scraper

  <br>

  h2 current problems with the app
  p I only hold collect a small sample of messages at once.  This is due to testing time for development
  p I can also whip something up in JQuery to run all of the queries from this front page using AJAX


  <br>
  h2 Data Entry
  <br>
  p enter a user's screen name:
  input#screenName(type="text" value="LilTunechi")
  br
  h2 Operations
  br

  button(type="submit")#mostActive Most Active Time of Day 
  span#mostActiveText
  br
  br

  button(type="submit")#mostFrequent Most Frequent App used
  span#mostFrequentText
  br
  br

  button(type="submit")#numFollowers Number of Followers
  span#numFollowersText
  br
  br

  button(type="submit")#numFriends Number of Friends
  span#numFriendsText
  br
  br

  button(type="submit")#tweetsWithLinks Ratio of Tweets with Links
  span#tweetsWithLinksText
  br
  br

  button(type="submit")#topTenWords Top Ten Most Common Words
  span#topTenWordsText